<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dealership Homepage</title>
</head>
<body>
    <a href="/types">View all car types</a>
        <br>
    <a href="/brands">View all car brands</a>
</body>
</html>
